# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.spec

# Konfigurationsdateien, die nicht versioniert werden sollen
config.json

# Veraltete Dateien
config.py

# Log-Dateien
*.log

# IDE- / Editor-spezifische Ordner
.vscode/
.idea/

brave-restarter.code-workspace
